@import 'src/assets/styles/variables';

.hotel-name {
  font-weight: bold;
}
.remove-button {
  background: linear-gradient(90deg, $color-primary 0%, $color-secondary 100%);
}
.cancel-button {
  border-color: $color-secondary;
  color: $color-secondary;
  &:hover {
    border-color: $color-secondary-hover;
    color: $color-secondary-hover;
  }
}
