@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';
.hotel-card-wrapper {
  .hotel-card-inner {
    display: flex;
    align-items: center;
    @include for-phone-only {
      flex-direction: column;
    }
    .remove-hotel-button {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
    }
    &.horizontal {
    }
    &-image {
      max-width: 285px;
      width: 285px;
      padding: 0 20px;
      @include for-small-phone-only {
        width: 160px;
      }
      .hotel-image {
        border-radius: 8px;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      align-items: start;
      @include for-phone-only {
        align-items: center;
      }
      &-typography-wrapper {
        margin-bottom: calc(100% / 4);
        &-title {
          margin: 0;
        }
        &-points {
          background: #ededed;
          border-radius: 4px;
          padding: 4px 8px;
          min-width: 65px;
        }
      }
      &-actions {
        display: flex;
        @include for-small-phone-only {
          flex-direction: column;
          align-items: center;
        }
        .action-button {
          color: $color-secondary;
          border-color: $color-secondary;
          margin-right: 10px;
          @include for-small-phone-only {
            margin-right: 0;
            margin-bottom: 10px;
          }
          &:hover {
            border-color: $color-secondary-hover;
            color: $color-secondary-hover;
          }
          &:last-child {
            margin-right: 0;

            @include for-small-phone-only {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  &:hover {
    .remove-hotel-button {
      display: block;
    }
  }
}
